/* preview-wrap */
.preview-wrap{padding-top:140px}
.preview-wrap h2{margin:0}
/* editor-wrap */
.editor-wrap .editor{position:fixed;width:660px;height:100px;bottom:100px;background-color:#fafafa;opacity:0.9;left:440px;border-right:0}
.editor-wrap .transparent:hover{opacity:0.2}
.editor-wrap .title{background-color:rgb(225, 232, 237);position:absolute;top:95px;left:420px;font-size:16px;outline:none;border:0;border-radius:3px;padding:10px 15px;width:760px;box-shadow:0px 2px 3px rgba(0, 0, 0, 0.1)}
/* btn-wrap */
.btn-wrap{position:fixed;top:140px;left:300px}
.btn-wrap .btn{float:left;clear:left;margin-top:20px;color:#444;cursor:pointer;padding:8px;border-radius:4px;box-shadow:0px 2px 3px rgba(0, 0, 0, 0.2);background-color:#f1f1f1;width:64px;text-align:center}
.btn-wrap .black{background-color:#000;color:#fff}
