.dropdown-list .options {
    background-color: #fafafa;
    font-size: 15px;
    margin-top: 2px;
    min-width: 76px;
    border-radius: 3px;
    position: absolute;
}
.dropdown-list .options li {
    cursor: pointer;
    list-style: none;
    padding: 5px 10px;
}
.dropdown-list .options li:hover {
    background-color: #f1f1f1;
}
.dropdown-list .select {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 4px 8px;
    font-size: 15px;
}
.dropdown-list .selected {
    background-color: #f1f1f1;
}