.hljs-keyword {
    font-weight: normal;
    color: #e96900;
}
.hljs-title {
    font-weight: normal;
    color: #0092db;
}
.hljs-number {
    color: #ae81ff;
}
.hljs-string {
    color: #42b983;
}
.hljs-built_in {
    color: #e96900;
}