@media (min-width:767px) {
    .kit-contrast-hidden-mb {
        display:none;
    }
}
@media (min-width:991px) {
    .kit-contrast-hidden-tb {
        display:none;
    }
}
@media (min-width:1199px) {
    .kit-contrast-hidden {
        display:none;
    }
}
@media (max-width:767px) {
    .kit-max-mb {
        width: 100%;
        padding: 0 10px;
    }
}