/* 初始化 */
body {
    margin: 0px;
}
ul{
    padding:0;
}
ul li {
    list-style: none;
}
ol {
    padding-left: 25px;
}
textarea {
    border: none;
    border-right: 1px solid #ccc;
    resize: none;
    outline: none;
    background-color: #f1f1f1;
    font-size: 14px;
    font-family: 'Monaco', courier, monospace;
    padding: 20px;
}
pre {
    background: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}
code {
    font-family: 'Roboto Mono', Monaco, courier, monospace;
    font-size: 13px;
}
pre code {
    color: #525252;
    background-color: #f8f8f8;
}
p code {
    padding: 4px;
    border-radius: 2px;
    background-color: #fafafa;
    color: #e96900;
    margin: 0 5px;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.sep5 {
    height: 5px;
}
/* 左侧栏 */
.sidebar {
    bottom:0px;
    box-sizing:border-box;
    color:rgb(85, 85, 85);
    display:block;
    float:none;
    font-family:"Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    font-size:14px;
    height:100%;
    left: 0;
    line-height:20px;
    margin-left:0px;
    min-height:30px;
    position:fixed;
    right:0px;
    top:0px;
    width:300px;
    z-index: 1;
}
.cover-img {
    background-image:url("../defaultBg.jpg");
    background-position:50% 50%;
    background-size:cover;
    color:rgb(85, 85, 85);
    display:block;
    font-family:"Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    font-size:14px;
    height:100%;
    left:0px;
    line-height:20px;
    position:absolute;
    top:0px;
    width:300px;
}
.bottom-block {
    bottom:0px;
    color:rgb(255, 255, 255);
    display:block;
    font-family:"Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    font-size:14px;
    height:91.5px;
    line-height:20px;
    padding-bottom:30px;
    padding-left:0px;
    padding-right:0px;
    padding-top:30px;
    position:absolute;
    text-align:center;
    width:220px;
}
.bottom-block a {
    font-size: 20px;
}