.cus-font__family {
    font-family: Monaco, "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
.cus-list {
    padding: 0 40px;
}

.editor {
    padding: 60px;
}
.editor .title {
    position: absolute;
    top: 110px;
    left: 240px;
    width: 620px;
}
.editor .preview {
    position: absolute;
    top: 185px;
    left: 240px;
    width: 620px;
}
.editor .content {
    position: fixed;
    bottom: 60px;
    left: 480px;
}
.operate {
    padding: 60px;
}
.operate .preview {
    position: absolute;
    top: 150px;
    left: 340px;
    width: 640px;
}
.dashboard button {
    display: block;
    margin: 20px 0;
    margin-left: -40px;
    width: 130px;
    text-align: center;
}
textarea.transparent:hover {
    opacity: 0.1;
}
.content .transparent-btn {
    position: fixed;
    bottom: 100px;
    left: 1120px;
}

/* admin__index */
.admin__index .list {
    padding: 0 40px;
}
.admin__index {
    margin: 0;
}
.admin__new{
    margin: 0;
}

